@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}


.d1 {
    background-image: url(imagens/background001.jpg);
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

